$colorPrimary: #2F55B7;
$colorPrimaryDark: #23418E;
$colorPrimaryMuted: #B9C4E0;
$colorError: #F27C74;
$colorErrorDark: #E82139;
$colorWhite: #FFFFFF;
$colorLighter: #F1F2F4;
$colorLightMid: #E1E4ED;
$colorLight: #D5DCDA;

$colorTextPrimary: #060811;
$colorTextPlaceholder: #9B9CA0;
$colorTextContrast: #FFFFFF;
$colorTextMuted: #CED6E9;